[submodule "subworkflows/Damond2018"]
	path = subworkflows/Damond2018
	url = https://github.com/BodenmillerGroup/MISegmentation.git
	branch = Damond2018
[submodule "subworkflows/Jackson2020"]
	path = subworkflows/Jackson2020
	url = https://github.com/BodenmillerGroup/MISegmentation.git
	branch = Jackson2020
[submodule "subworkflows/Schulz2017"]
	path = subworkflows/Schulz2017
	url = https://github.com/BodenmillerGroup/MISegmentation.git
	branch = Schulz2017
[submodule "subworkflows/Ali2020"]
	path = subworkflows/Ali2020
	url = https://github.com/BodenmillerGroup/MISegmentation.git
	branch = Ali2020
[submodule "subworkflows/HubMAP2020"]
	path = subworkflows/HubMAP2020
	url = https://github.com/BodenmillerGroup/MISegmentation.git
	branch = HubMAP2020
